@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .taskbar {
    backdrop-filter: blur(4px);
    background-color: rgba(26, 26, 26, 0.7);
  }
  #my-video {
    background-color: inherit;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
  }
  menu {
    height: calc(100% - 30px);
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, 74px);
    grid-template-rows: repeat(auto-fill, 70px);
    padding: 5px 0;
    row-gap: 28px;
    column-gap: 1px;
  }
  .icons img {
    height: 100%;
    width: 100%;
  }
  .focus {
    background-color: green;
    color: white;
    backdrop-filter: blur(4px);
  }
  .icons {
    @apply flex bg-purple-400 hover:bg-hover-icon w-12 p-[2px] select-none transition-all;
  }
  /* .focus {
    @apply focus-within:;
  } */
}
